button {
    border: none;
    background-color: transparent;
}

button.button {
    padding: 0.4375rem 1.625rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.25s;
}

button.button:hover {
    background-color: var(--app-color-bg-3) !important;
    color: var(--app-color-primary-white) !important;
}

button.button.link {
    background-color: #525252;
    color: var(--app-color-primary-white);
}

.button.circle {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.circle i {
    font-size: 24px;
}

button.button.primary, button.jumia-primary {
    background: var(--app-color-primary-orange);
    border: 0;
}

button.jumia-primary:hover {
    background: var(--app-color-primary-orange);
    border: 0;
    opacity: 0.9;
}

button.jumia-primary:active {
    background: var(--app-color-primary-orange) !important;
    opacity: 0.6;
}


button.button.white {
    background: #fff;
}

button.button.white.orange {
    color:  var(--app-color-primary-orange);
    border: 1px solid var(--app-color-primary-orange);
}

button.button.white.black {
    color:  #000;
    border: 1px solid #000;
}

button.button.grey {
    background: #F2F2F2;
    color: #005888;
}

button.button.sm {
    padding: 6px 15px;
    font-size: 14px;
}

button.button.md {
    padding: 12px 30px;
    font-size: 16px;
}

button.button.lg {
    background: #005888;
    padding: 15px 69px;
    font-size: 20px;
}

.cart {
    padding: 0.1rem 0.5rem;
    left: 1308px;
    top: 24px;
    background: #334155;
    border-radius: 16px;
    color: #fff;
}

.cart:hover {
    color: var(--app-color-primary-orange);
}


/* Quantity */
.button-quantity {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.button-quantity input, .button-quantity input:disabled {
    border: 0;
    width: 30px;
    font-size: 1rem;
    color: #ccc !important;
    text-align: center;
}

.button-quantity .button {
    background: #FFFFFF !important;
    color: #94a3b8 !important;
}

.button-quantity .button:hover {
    background: #fafafa !important;
    color: #94a3b8 !important;
}


/* CHOOSE BUTTON GROUP */
.choose-button-group button {
    /* Basic/White */
    background: #FFFFFF;
    /* Neutral/300 */
    border-width: 1px;
    border-style: solid;
    border-color: #CBD5E1;
    border-radius: 0;
    color: #475569;
    min-height: 50px;
}

.choose-button-group .group-item:nth-child(2n + 1) button {
    border-right: 0;
}

.choose-button-group .group-item:nth-child(2n) button {
    border-right: 0;
}

.choose-button-group .group-item:first-child button {
    border-radius: 8px 0 0 8px;
}

.choose-button-group .group-item:last-child button {
    border-radius: 0px 8px 8px 0px !important;
    
}

.choose-button-group .group-item:last-child button:not(.active) {
    border-right: 1px solid #CBD5E1 !important;
}

.choose-button-group button:hover, .choose-button-group button:active, .choose-button-group button:focus-visible,
.choose-button-group button:focus  {
    /* Basic/White */
    background: #fafafa !important;
    border-color:  #CBD5E1 !important;
    outline: none !important;
}

.choose-button-group button.active {
    background: rgba(255, 109, 16, 0.11);
    color: #F4894A !important;
    border: 1px solid #F4894A !important;
}

.choose-button-group button.active {
    background: rgba(255, 109, 16, 0.11);
    color: #F4894A !important;
    border: 1px solid #F4894A !important;
}

.choose-button-group button.active span {
    color: #F4894A !important;
}

.choose-button-group button .main-name {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 15px;
    color: #475569;
    display: block;
}

.choose-button-group button .extra {
    font-size: 0.75rem;
    line-height: 18px;
    text-align: center;
    color: #374151;
}

.choose-button-group .group-item .price {
    display: block;
    margin-top: 0.5rem;
}