.form-item {
    margin: 0.5rem 0 ;
}

.form-item label {
    display: block;
    color: #969696;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 0.25rem
}

.form-item .form-item-input input[type="text"],
.form-item .form-item-input input[type="number"],
.form-item .form-item-input input[type="password"] {
    padding: 0px 0px 0px 16px;
    background: #FBFBFB;
    border: 1px solid #E7EAEF;
    border-radius: 5px;
    width: 100%;
    height: 3rem;
    font-size: 16px;
    line-height: 19px;
}

.form-item .form-item-input input[type="checkbox"],
.form-item .form-item-input input[type="radio"]  {
    width: 24px;
    height: 24px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    margin-right: 0.5rem;
}

.form-item .form-item-input:has(input[type="checkbox"]),
.form-item .form-item-input:has(input[type="radio"])  {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-item .form-item-input input:focus {
    outline: 1px solid var(--app-color-bg-1);
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--app-color-link);
    opacity: 1; /* Firefox */
}

input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}


/* MOBILE FORM */
.form-mobile .form-label {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
    color: #52525B;
}

.form-mobile .form-control,  .form-mobile .form-select {
    border: 1px solid #E5E7EB !important;
    border-radius: 8px  !important;
    background: #fff !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #71717A;
}

.form-mobile .input-group .input-group-text, .form-mobile .input-group .form-select {
    /* border-right: 0; */
    background: #fff;
    border: 0 !important;
}

.form-mobile .input-group {
    border: 1px solid #E5E7EB !important;
    border-radius: 8px !important;
    background: #fff !important;
}

.form-mobile .form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-mobile .form-control:not(:placeholder-shown) {
    background: #fff !important;
}

.form-mobile .form-select option:focus,
.form-mobile .form-select option:hover ,
.form-mobile .form-select option:active ,
.form-mobile .form-select option:checked  {
    background: rgba(255, 109, 16, 0.11) !important;
    color: var(--app-color-primary-orange) !important;
}
